# Make Bazel print out all options from rc files
common --announce_rc

# We use 23 standard
build:linux --cxxopt=-std=c++23
# Include: source directory
build:linux --cxxopt=-iquote --cxxopt=src
# Essential warnings
build:linux --cxxopt=-Wall
# Extra warnings
build:linux --cxxopt=-Wextra
# TODO: document the rest
build:linux --cxxopt=-Wno-pointer-arith
build:linux --cxxopt=-Wno-unused-const-variable
build:linux --cxxopt=-Wno-missing-field-initializers
build:linux --cxxopt=-Wno-stringop-overflow

# LTO, see: https://gcc.gnu.org/wiki/LinkTimeOptimization
build:linux --cxxopt=-flto
build:linux --linkopt=-flto

# Optimize for native (host) architecture
# Be warned - might break distribution builds
build:linux-fragile --config=linux
build:linux-fragile --cxxopt=-march=native

# Treat warnings as errors should be enabled optionally
build:linux-strict --config=linux
build:linux-strict --cxxopt=-Werror

# --- Build configurations ---
# Linux, Debug
build:linux-dbg --compilation_mode dbg
build:linux-dbg --config=linux-fragile
build:linux-dbg --cxxopt=-ggdb3
# Linux, Release
build:linux-opt --compilation_mode opt
build:linux-opt --config=linux-strict
build:linux-opt --cxxopt=-O3
# ----------------------------

# Distro-specific configurations
