[submodule "dist/pog"]
	path = dist/pog
	url = https://github.com/HyperWinX/HPog
[submodule "dist/HPool"]
	path = dist/HPool
	url = https://github.com/randommfs/HPool
[submodule "dist/libunwind"]
	path = dist/libunwind
	url = https://github.com/libunwind/libunwind
