[submodule "dist/HBench"]
	path = dist/HBench
	url = git@github.com:randommfs/HBench.git
[submodule "dist/googletest"]
	path = dist/googletest
	url = https://github.com/google/googletest
[submodule "dist/argparse"]
	path = dist/argparse
	url = https://github.com/p-ranav/argparse
