name: HyperCPU CI/CD Pipeline

on:
  pull_request:
    branches:
      - master

jobs:
  testing:
    runs-on: ubuntu-latest
    container: hyperwin/hcpu-ci:debian-unstable
    name: Run full test suite

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Pull submodules
        run: |
          git submodule update --init --remote --recursive
        
      - name: Install GTest Parallelizer
        run: |
          git -C "../gtest-parallel" pull || git clone https://github.com/google/gtest-parallel.git "../gtest-parallel"
      
      - name: Build and test with GCC on Debug profile
        run: |
          cmake -S. -Bbuild -DHCPU_COMPILER=gcc -DCMAKE_BUILD_TYPE=Debug
          cmake --build build --target build-all-tests-github -j4
          ../gtest-parallel/gtest-parallel build/modular_testing --workers=4
          ../gtest-parallel/gtest-parallel build/integration_testing --workers=4
          rm -rf build

      - name: Build and test with GCC on Release profile
        run: |
          cmake -S. -Bbuild -DHCPU_COMPILER=gcc -DCMAKE_BUILD_TYPE=Release
          cmake --build build --target build-all-tests-github -j4
          ../gtest-parallel/gtest-parallel build/modular_testing --workers=4
          ../gtest-parallel/gtest-parallel build/integration_testing --workers=4
          rm -rf build

      - name: Build and test with LLVM on Debug profile
        run: |
          cmake -S. -Bbuild -DHCPU_COMPILER=clang -DCMAKE_C_COMPILER=clang-19 -DCMAKE_CXX_COMPILER=clang++-19 -DCMAKE_BUILD_TYPE=Release
          cmake --build build --target build-all-tests-github -j4
          ../gtest-parallel/gtest-parallel build/modular_testing --workers=4
          ../gtest-parallel/gtest-parallel build/integration_testing --workers=4
          rm -rf build

      - name: Build and test with LLVM on Release profile
        run: |
          cmake -S. -Bbuild -DHCPU_COMPILER=clang -DCMAKE_C_COMPILER=clang-19 -DCMAKE_CXX_COMPILER=clang++-19 -DCMAKE_BUILD_TYPE=Release
          cmake --build build --target build-all-tests-github -j4
          ../gtest-parallel/gtest-parallel build/modular_testing --workers=4
          ../gtest-parallel/gtest-parallel build/integration_testing --workers=4
          rm -rf build
