name: HyperCPU CI/CD Pipeline

on:
  pull_request:
    branches:
      - master

jobs:
  testing:
    runs-on: ubuntu-latest
    container:
      image: hyperwin/hcpu-ci:debian-unstable
      options: --user root
    name: Run full test suite

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "true"

      - name: Install conan dependecies
        run: |
          conan profile detect && conan install . --build=missing

      - name: Build and test with GCC on Debug profile
        run: |
          bazelisk test //src/... //tests/... --config=linux-dbg --compiler=gcc
          bazelisk clean --expunge

      - name: Build and test with GCC on Release profile
        run: |
          bazelisk test //src/... //tests/... --config=linux-opt --compiler=gcc
          bazelisk clean --expunge

      - name: Build and test with LLVM on Debug profile
        run: |
          bazelisk test //src/... //tests/... --config=linux-dbg --compiler=clang
          bazelisk clean --expunge

      - name: Build and test with LLVM on Release profile
        run: |
          bazelisk test //src/... //tests/... --config=linux-opt --compiler=clang
          bazelisk clean --expunge
